{% extends "bootstrap/base.html" %}
{% block html %}
  {% block head %}
    <title>Graphs DB</title>
    {% block styles %}
      {{super()}}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
    {% endblock %} 
  {% endblock %}
  {% block body %}
    <h1>Search Result</h1>
    <ul class="graphs">
      {% for graph in graphs if matches_filter(graph, planarity, directedness) %}
        <li> <h3> <a href="{{ url_for('graph_home')}}/{{ graph.name }}"> {{ graph.name.title() }} Graph </a></h3></li>
      {% else %}
        <h2>No graphs found.</h2>  
      {% endfor %}
    </ul>
  {% endblock %}
{% endblock %}
